@import "shades.vars";

$color-success: #5fa016;
$color-success-text: white;
$color-error: #ed1b2e;
$color-error-text: $grey-2;
$color-warning: orange;
$color-warning-text: white;

$color-active: #4198cd;
$color-active-secondary: $color-active;
$color-active-text: $grey-2;
$color-disabled: #777;
$color-form-placeholder: #8b949d;
$color-text-disable: #555;

$color-primary: white;
$color-primary-shade-1: lighten($color-primary, 10%);
$color-primary-shade-2: lighten($color-primary, 20%);
$color-primary-shade-3: lighten($color-primary, 30%);
$color-primary-shade-4: lighten($color-primary, 40%);
$color-primary-shade-5: lighten($color-primary, 50%);
$color-primary-shade-6: lighten($color-primary, 60%);
$color-primary-shade-7: lighten($color-primary, 70%);
$color-primary-shade-8: lighten($color-primary, 80%);
$color-primary-shade-9: lighten($color-primary, 90%);

$color-primary-text: $grey-3;
$color-primary-text-active: $color-active;
$color-primary-text-disabled: $color-disabled;

$color-input: white;
$color-input-text: #333;
$color-input-label: $color-primary-text;
$color-input-placeholder: $color-form-placeholder;
$color-input-border: $grey-12;

$color-button: $color-active;
$color-button-text: white;
$color-button-inactive: $grey-5;
$color-button-text-inactive: $grey-3;

$color-nav-text: white;
$card-background: rgba($color-active, 0.15);
$card-shadow: rgba(black, 0.1);
$color-logo: $color-active;
$color-logo-shadow: darken($color-logo, 0.2);
$color-logo-icon: $color-active-secondary;
