$font-heading: 'rubikmedium', sans-serif;
$font-paragraph: 'rubiklight', sans-serif;
$font-logo: 'pacifico', sans-serif;

$text-size-small  : 14px;
$text-size-normal : 16px;
$text-size-large  : 18px;
$text-size-xlarge : 24px;
$text-size-xxlarge : 36px;
