@import "layout.vars";
@import "form.vars";
@import "palette.vars";
@import "typography";

.react-autosuggest__input {
  font-family: $font-heading;
  font-size: $text-size-small;
  font-weight: bold;
  width: 250px;
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: $form-border-radius;
  border-style  : solid;
  border-width  : 1px;

}

.react-autosuggest__suggestions-list {
  position: relative;
  $arrow-size: 8px;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: $arrow-size solid transparent;
    border-bottom-color: white;
    top: -$arrow-size * 2 + 1;
    left: 50%;
    margin-left: -$arrow-size/2;
  }
  margin-top: $base-indent;
  border-radius: $form-border-radius;
  & > * {
    font-family: $font-heading;
    font-size: $text-size-small;
    line-height: $text-size-normal;
    font-weight: bold;
  }
  & > *:first-of-type {
    border-top: 4px solid white;
    border-top-left-radius: $form-border-radius;
    border-top-right-radius: $form-border-radius;
    overflow: hidden;
  }
  & > *:last-of-type {
    border-bottom-left-radius: $form-border-radius;
    border-bottom-right-radius: $form-border-radius;
    overflow: hidden;
  }

}

.react-autosuggest__suggestions-list {
  position: absolute;
  z-index: 10;
  width: 250px;
}

@mixin theme($theme) {
  .#{$theme} {
    & .react-autosuggest__input {
      background: $color-input;
      color: $color-input-text;
      border-color  : $color-input-border;
      &::placeholder {
        color: $color-input-placeholder;
      }
    }
  }
}

@import "palette-theme-dark.vars";
@include theme('theme-dark');

@import "palette-theme-light.vars";
@include theme('theme-light');
