@import "typography";
@import "form.vars";

.input {

  font-family : $font-heading;
  font-size   : $text-size-small;
  font-weight : bold;

  height  : $form-base-height;
  padding : 10px;

  border-width  : 1px;
  border-style  : solid;
  border-radius : $form-border-radius;

  outline       : none;

}

.label {
  font-family : $font-heading;
  font-size   : $text-size-small;
  line-height : 2 * $text-size-small;
  font-weight : bold;
}

/*
  Theming
 */
@mixin theme($theme) {
  .#{$theme} {
    .input {
      color         : $color-input-text;
      background    : $color-input;
      border-color  : $color-input-border;
      &::placeholder {
        color: $color-input-placeholder;
      }
    }
    .label {
      color: $color-primary-text;
    }
  }
}
@import "palette-theme-dark.vars";
@include theme('theme-dark');

@import "palette-theme-light.vars";
@include theme('theme-light');
