@import 'layout.vars';
@import "typography";

.main, .viewport {
  width: 100%;
  height: 100%;
  transition: background .3s 0s ease-in;
}

.viewport {
  height: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
}

.logo {
  font-family: 'pacifico', sans-serif;
  margin: 50px auto 50px;
  font-size: $text-size-xxlarge;
  transition: all 0.3s 0s ease-in;
}

.icon {
  margin: 0 auto;
  transform: rotateZ(-90deg);
  transition: fill 0.3s 0s ease-in;
}

.card {
  position: relative;
  padding-top: 75px;
  height: 100%;
}

.switch {
  position: absolute;
  top: 0;
  right: $base-indent * 1.5;
}

@mixin theme($theme) {
  .#{$theme} {
    &.viewport, &.main {
      background: $color-primary;
      background: #070912;
    }

    &.icon {
      fill: $color-logo-icon;
    }

    &.logo {
      color: $color-logo;
      text-shadow: 1px 1px $color-logo-shadow;
    }
  }
}

@import "theme-dark.vars";
@include theme('theme-dark');

@import "theme-light.vars";
@include theme('theme-light');
