@import "layout.vars";

.card {
  $indent  : $card-padding;
  overflow   : hidden;
  padding    : $indent $indent 10px $indent;
  width      : 100%;
  max-width  : 450px;
  margin     : 0 auto;
  transition : background 0.3s 0s ease-in,
               border 0.3s 0s ease-in,
               box-shadow 0.3s 0s ease-in;
}

@mixin theme($theme) {
  .#{$theme} {
    &.card {
      background: $card-background;
      border: 1px solid $card-border-color;
      box-shadow: 0 2px 2px 2px rgba(black, 0.1);
    }
  }
}

@import "theme-light.vars";
@include theme('theme-light');

@import "theme-dark.vars";
@include theme('theme-dark');
