@import "layout.vars";
@import "form.vars";
@import "typography";

.group {

  position: relative;
  width: 100%;
  height: 100%;

  &.visible {
    z-index: 1;
    animation: moveIn 0.3s 0s;
  }

  &.hidden {
    z-index: -1;
    position: absolute;
    opacity: 0;
    transform: scale(.9);
    transition: visibility 0s 0.2s,
                transform 0.2s 0s,
                opacity 0.2s 0s;
    visibility: hidden;
    -webkit-tap-highlight-color: transparent;
  }

}

.input {
  width: 100%;
  margin-top: 15%;
  & > TEXTAREA {
    width: 100%;
  }
  & > INPUT {
    width: 100%;
  }
}

.buttonGroup {
  margin-top: auto;
  margin-bottom: 2 * $base-indent;
  width: 100%;
}

.shortenButton, .callout {
  margin: auto auto 0;
}

.shortenButton {
  margin-bottom: 2 * $base-indent;
}

.thankButton {
  margin-left: auto;
}

.callout {
  display: block;
  padding : $base-indent $base-indent;
  border-radius: $form-border-radius;
  font-family: $font-paragraph;
  font-size: $text-size-small;
  line-height: 1.5 * $text-size-small;
  font-weight: bold;
  min-width: 100%;
  min-height: 5 * $text-size-small;
  opacity: 0;
  margin-top: 2 * $base-indent;
  &.error {
    transition: opacity 0.3s 0s;
    opacity: 1;
  }
}

@mixin theme($theme) {
  .#{$theme} {
    &.callout {
      color: $color-error-text;
      background: $color-error;
    }
  }
}

@import "theme-light.vars";
@include theme('theme-light');

@import "theme-dark.vars";
@include theme('theme-dark');

@keyframes calloutIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes calloutOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes moveIn {
  from {
    opacity: 0;
    transform: translateY(-5x);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(.9);
  }
}
